[Unit]
Description=Boot container
After=docker.service
Requires=docker.service

[Service]
Restart=on-failure
RestartSec=20
TimeoutStartSec=0

# Preparations for the container:
ExecStartPre=-/usr/local/sbin/runctl-boot pre

# Start the container:
ExecStart=/usr/local/sbin/runctl-boot start

# Setup the container's network:
ExecStartPost=/usr/local/sbin/runctl-boot post

# Stop the container:
ExecStop=/usr/local/sbin/runctl-boot stop

[Install]
WantedBy=multi-user.target
